h1{
    text-align: center;
}
.container{
    text-align: center;
}
label{
    font-size: x-large;
}
.price{
    font-style: italic;
    color: brown;
}
#submit{
    color: rgb(112, 207, 68);
    font-size: 300%;
    display: none;
}
.clickable{
    cursor: pointer;
}
.clickable:hover{
    text-decoration: underline;
}
.location{
    display: none;
}
.delivery{
    color: rgb(49, 226, 43);
}
#charge{
    color: rgb(229, 234, 240);
    text-decoration: solid;
}
.pizza{
    display: none;
}
.details{
    display: none;
}
#pickalert{
    display: none;
    color: rgb(189, 231, 228);
}
#deliveralert{
    display:none ;
}
#address{
    color: rgb(152, 221, 194);
}
#row1{
    background-image: url(/img/pizza2.avif);
    background-size: 100%;
    background-repeat: no-repeat;
    color: white;
}
#row2{
    background-image: url(/img/pizza3.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
.price{
    color: aqua;
}
#row3{
    font-size: x-large;
    background-image: url(/img/pizza4.avif);
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
}
