h1{
    text-align: center;
}
.container{
    text-align: center;
}
label{
    font-size: x-large;
}
.price{
    font-style: italic;
    color: brown;
}
#submit{
    color: rgb(112, 207, 68);
    font-size: xx-large;
}
.clickable{
    cursor: pointer;
}
.clickable:hover{
    text-decoration: underline;
}
.location{
    display: none;
}
.delivery{
    color: blueviolet;
}
#charge{
    color: brown;
    text-decoration: solid;
}